---
layout: default
---

<div id='home-content' class='background-photo'>
	<div class="home">

    <div id='tagline'>
      Building better business through data
    </div>
    

	</div>
	<!-- <div id='animation-container'>
		<div class="border borderv" id="leftbar"></div>
	</div> -->
</div>
<div id='about-content' class='wrapper' style='border-bottom: 1px solid #828282;'>

	  <div class='home-blurbs'>
	    Appallicious is an open data visualization company that creates products to help government better serve its citizens. Appallicious is a leader in creating licensable data visualization products that are easily replicated for government and citizens, often in collaboration with the White House, FEMA, states, counties and city agencies.
	  </div>

</div>
<div id='products-content' class='wrapper'>
	<div class='home-blurbs'>
		<div style='margin-bottom:50px;'>A few of our products</div>
		<a class='home-products' href="#">
			<p>SMS</p>
			<img src="/assets/sms_mock.jpg">
		</a>
		<a class='home-products' href="#">
			<p>DAAD</p>
			<img src="/assets/sms_admin.png">
		</a>
		<a style='display:block;' href='/products'>ALL PRODUCTS</a>
	</div>
</div>

