---
layout: default
---

<div id='home-content' class='background-photo'>
	<div class="home">

    <div id='tagline'>
      Building better business and government through data
      <br><span style='font-size:20px;'>A smart city solution</span>
    </div>
    

	</div>
	<img class='media-banner' src="/assets/media-banner.jpg">
	<!-- <div id='animation-container'>
		<div class="border borderv" id="leftbar"></div>
	</div> -->
</div>
<div id='about-content' class='wrapper' style='border-bottom: 1px solid #828282;'>

	  <div class='home-blurbs'>
	    Appallicious is a San Francisco based IoT and Big Data Startup. We have developed a data aggregation platform to create easy to use, rapidly deployable business, government, and consumer tools. We provide our clients with a white-label data dashboard stack (Tool-Box), to aggregate any type of data and deliver it in any type of environment (web, web mobile, native apps, mapping, reporting, or analytics panels) to manage, collect, engage and visualize IoT and Big Data in real-time, in context, and at scale.
	    <img src="/assets/diagram.png" style='width:80%;'>
	  </div>

</div>
<div id='products-content' class='wrapper'>
	<div class='home-blurbs'>
		<div style='margin-bottom:50px;'>A few of our products</div>
		<a class='home-products' href="/products/sms">
			<!-- <p>Shelter Management System</p> -->
			<img src="/assets/sms.png">
		</a>
		<a class='home-products' href="/products/harvist">
			<!-- <p>Apartment Facts</p> -->
			<img src="/assets/harvist.png">
		</a>
		<a class='home-products' href="/products/daad">
			<!-- <p>Disaster Assessment<br>and Assistance<br>Dashboard</p> -->
			<img src="/assets/daad.png">
		</a>
		<a class='more-products-link' href='/products'>ALL PRODUCTS</a>
	</div>
</div>

